item

  item__image

    item__image__link

      item__image__link__image
        width 150px

    item__image__reviews

      item__image__reviews__link

        items__image_reviews__stars,
        items__image_reviews__stars-inner
          items__image_reviews__stars-gray

      item__image__compare

        item__image__compare__input

        item__image__compare__text