<div class="product" productscope producttype="http://schema.org/Product">

  <!--
    <product-image></product-image>
    <product-description>
      <header></header>
      <product-sku></product-sku>
      <product-highlights></product-highlights>
      <additional-info>
        <comments></comments>
        <shipping-time></shipping-time>
      </additional-info>
    </product-description>
    <product-prices></product-prices>
  -->
  <!-- Image Component Template -->
  <section class="product__image">
    <a class="product__image__link" href="{{product.image.url}}" name="image">
      <img class="product__link__image" alt="{{product.image.title}}"
           title="{{product.image.title}}" height="{{product.image.height}}" productprop="image"
           src="{{product.image.srcUrl }}" width="{{product.image.width}}">
    </a>
    <article class="product__image__reviews">
      <a class="product__image__reviews__link" href="{{product.image.url}}">
         <label class="product__image__reviews__link__reviewCount">({{customeReviews: number}})</label>
      </a>
    </article>
    <article class="product_image_compare">
      <input class="product__image__compare__input" id="{{product.id}}" type="checkbox">
      <label class="product__image__compare__input" data-checked="In Compare" data-default="Add to Compare"></span>
    </article>
  </section>
  <!-- End of product Image Component Template -->

  <!-- Product Description Component Template -->
  <section class="product__desc">
    <!-- Product Description Header Component Template -->
    <header class="product__desc__header">
      <a class="product.name}}</label>
      </a>
    </header>
    <!-- End of Product Description Header Component Template -->

    <article class="product__desc__sku">
      <label class="product.mfNumber}}</label>
      </p>
    </article>
    <article class="product__desc__highlights">
      <section class="product}}
          </li>
        </ul>
      </section>
    </article>
    <article class="product__desc__addInfo">
      <!--additional info comments -->
      <section class="product__desc__addInfo__comments">
        <p class="product.desc.sales.comments.inStock}}
          </label>
        </p>
      </section>
      <!-- END additional info comments -->

      <!--additional info shipping time -->
      <section class="product__desc__addInfo__shippingTime" id="{{product.desc.additional.info.shipping.time.id}}">
        <article class="product.desc.addInfo.expedite.text}}}}
          </a>
        </article>
      </section><!-- END additional info shipping time -->
    </article>
  </section>
  <!-- End of product desc Component Template -->
  <section div class="product__desc__prices">
    <p>
      <label class="product_desc_prices__savings__title">
        {{product_desc_prices__savings__title}}
      </label>
      <a class="product_desc_prices__savings__link" rel="noLayerCache" href="{{product.desc.prices.savings.url}}">
        {{product.desc.prices.savings.text}}
      </a>
      <a class="product_desc_prices__savings__popup" href="{{product.desc.prices.savings.popUpUrl}}" rel="noLayerCache">
        {{product.desc.prices.savings.popUpUrl.text}}
      </a>
    </p>
  </section>
</div>